<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gallery</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="changeGrid()">
        <ion-icon *ngIf="!grid" name="md-grid"></ion-icon>
        <ion-icon *ngIf="grid" name="md-albums"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row >
      <ion-col *ngFor="let photo of photos; let i = index"
               [attr.col-4]="grid ? true : null"
               [attr.col-12]="!grid ? true : null"
               [class.col-4]="grid">
        <img src="{{photo}}" (click)="openImage(i)">
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion-button full (click)="presentActionSheet()">Picture</button>
</ion-content>
