<ion-header>
  <ion-toolbar>
    <ion-title>
      Viewer
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="goBack()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides loop="true" style="background-color: black" (ionSlideDidChange)="slideChanged()" initialSlide="{{index}}">
    <ion-slide *ngFor="let photo of photos">
      <img data-src="{{photo}}">
    </ion-slide>
  </ion-slides>
</ion-content>
