page-home {
  ion-card.adv-map {
    .card-title {
      background-color: transparent;
      color: white;
      font-size: 22px;
      margin-top: -50%;
      position: absolute;
      text-align: center;
      width: calc(100% - 50px);
      z-index: 99;
      .label-md {
        text-shadow: 0.1em 0.1em 3px #333;
      }
    }
    .card-image {
      min-height: 240px;
    }
    .card-content {
      background-color: rgba(35, 35, 35, 0.75);
      color: white;
      margin-top: -5em;
      .card-price-money {
        font-size: 20px;
      }
      .price-change {
        color: white;
        font-size: 0.7em !important;
      }
    }
  }
}

