<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Stations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let card of cards" class="adv-map">

    <div style="position: relative">
      <img class="card-image" src="./assets/imgs/{{card.image}}" />
      <ion-fab right top>
        <button ion-fab (click)="onClickPoint(card)">
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-fab>
    </div>

    <ion-item class="card-title">
      <span>{{card.title}}</span>
    </ion-item>

    <ion-item class="card-content">
      <ion-icon name="cash" item-start large></ion-icon>
      <div class="price-change">
        <span>R$ {{card.priceChange}}</span>
        <ion-icon *ngIf= "card.priceIncrease" name="trending-down" color="danger"></ion-icon>
        <ion-icon *ngIf= "!card.priceIncrease" name="trending-up" color="secondary"></ion-icon>
      </div>
      <span class="card-price-money">R$ {{card.priceMoney}}</span>
    </ion-item>

    <ion-item>
      <span item-start>{{card.address}}</span>
      <button ion-button icon-start clear item-end (click)="onClickNavigate(card)">
        <ion-icon name="navigate"></ion-icon>
        Start
      </button>
    </ion-item>

  </ion-card>
</ion-content>
