<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chats</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let chat of chatList">
      <ion-item (click)="openChat(chat)">
        <ion-avatar item-start>
          <img src="./assets/imgs/{{chat.image}}">
        </ion-avatar>
        <label>{{chat.name}}</label>
        <p>{{chat.lastMessage}}</p>
        <ion-note item-end>{{chat.date}}</ion-note>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
